<h3>Cadastrar usuário</h3>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <label for="firstName">Primeiro nome:</label>
    <input type="text" formControlName="firstName" class="form-control"/>  


    <label for="lastName">Ultimo nome:</label>
    <input type="text" formControlName="lastName" class="form-control"/> 

    <label for="email">Email:</label>
    <input type="text" formControlName="email" class="form-control"/>  

    <label for="birthday">Data de nascimento:</label>
    <input type="date" formControlName="birthday" class="form-control"/>  


    <label for="login">Login:</label>
    <input type="text" formControlName="login" class="form-control"/>
    
    
    <label for="password">Senha:</label>
    <input type="password" formControlName="password" class="form-control"/>

    <label for="phone">Telefone:</label>
    <input type="text" formControlName="phone" class="form-control"/>


    <div formArrayName="cars">
        <h2>Carros</h2>
        <button type="button" (click)="addNewCar()">+</button>
    
        <div *ngFor="let carFormControl of cars.controls; let i=index">
            <div [formGroupName]="i" >

                <label for="year">Ano:</label>
                <input type="number" formControlName="year"/> 


                <label for="licensePlate">Placa:</label>
                <input type="text" formControlName="licensePlate"/> 


                <label for="model">Modelo:</label>
                <input type="text" formControlName="model"/> 


                <label for="color">Cor:</label>
                <input type="text" formControlName="color"/> 

                <button (click)="deleteCar(i)">X</button>
            </div>
        </div>
      </div>

    <br>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>